<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="#">IP-HUB</a>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<!-- <li class="nav-item active">
				<a class="nav-link" href="/pages/home">Home <span class="sr-only">(current)</span></a>
			</li> -->
			<!-- <li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li> -->
		</ul>

		<% if admin_signed_in? %>
		<%= link_to 'Sign Out', destroy_admin_session_url, class: 'sign-out' %>
		<% end %>
	</div>
</nav>