.flash-message
  - flash.each do |key, value|
  	  .alert.alert-success = value

h3.header Welcome!

p Fill in you student and subject details. Then fill in the time table, which is a little tricky. 
p Enter the holidays.
p Enter the extra working days.
p Enter the leaves for each student.
p And that's it! Genereate your attendance.