.flash-message
  - flash.each do |key, value|
  	  .alert.alert-success = value

h3.header Welcome!

markdown:
	Fill in you student and subject details. Then fill in the time table, which is a little tricky. 

	Enter the holidays.

	Enter the extra working days.

	Enter the leaves for each student.

	And that's it! Genereate your attendance.